*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

#preview-iframe {
  width: 100%;
  height: 100%;
}
.preview-container {
  overflow-y: hidden;
}
.editor-container {
  float: left;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.editor-container-label {
  display: none;
  padding: 10px;
  line-height: 20px;
  font-size: 13px;
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 代码编辑器的 ace */
.editor-container>pre {
  width: 100%;
  height: calc(100% - 0px);
  margin: 0;
}
.editor-container-html{border-top: solid 1px blue}
.editor-control-html{color:blue}
.editor-container-css{border-top: solid 1px pink}
.editor-control-css{color:pink}
.editor-container-js{border-top: solid 1px green}
.editor-control-js{color:green}

/* 工具栏 */
.editor-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  height: 18px;
  background-color: #f3f3f3;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #cccccc;
}

.editor-control-html,
.editor-control-css,
.editor-control-js {
  padding: 0 16px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
  transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
}
.editor-control-html:hover,
.editor-control-css:hover,
.editor-control-js:hover {
  background-color: #e5e5e5;
}
.editor-control-active,
.editor-control-active:hover {
  background-color: #d1d8dd;
}

.editor-controls-drag {
  flex-grow: 1;
  cursor: n-resize;
}
.run-btn{
  cursor: pointer;
}
.run-btn:hover{
  color: blue;
}
.chk{
  height: 20px;
  width: 20px;
}
.editor-controls-live-mode,
.mdui-controls-download,
.editor-controls-run{
  font-size:12px;
  margin: 0 5px;
  cursor: pointer;
}